<% if user_signed_in? %>
	<h1>Invitations</h1>
	<% @invitations.each do |invitation| %>
		<%= render partial: "invitation_list_item", locals: {invitation: invitation} %>
	<% end %>
	
	<br/>
	<h1>Events</h1>
	<div class="list-group">
		<% @events.each do |event| %>
			<%= render partial: "event_list_item", locals: {event: event} %>
		<% end %>
	</div>
	<%= link_to "Create a fun event!", :controller => 'events', :action => 'new' %>
<% else %>
	<%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook) %>
<% end %>