// Place all the styles related to the calendar controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#drag_container {
	float: right;
	width: 90%;
	padding-top: 30px;
}


.event_item {
	position: absolute;
	height: 74px;
	width: 82%;
	z-index: 11;
}


.panel-heading.event_header {
	padding: 5px 10px;
	overflow: hidden;
	width: 100%;
	white-space: nowrap;
	font-size: 14px;
}


.panel-title.event_title {
	display: inline-block;
	margin-right: 10px;
	font-size: inherit;
}


.panel-body.event_body {
	padding: 5px 10px;
	overflow: hidden;
	width: 100%;
	white-space: nowrap;
	display: inline-block;
}


.badge.invite_indicator {
	
}


.panel_body_text {
	display: inline-block;
	max-width: 83%;
	overflow-x: hidden;
}


.owner_thumb {
	width: 34px;
	height: 34px;
	border-radius: 17x;
	-webkit-border-radius: 17px;
	-moz-border-radius: 17px;
	background-size: 100% auto;
	display: inline;
	float: right;
	margin-top: -2px;
}


.hour_row {
	width: 100%;
	height: 70px;
	border-top: 1px solid;
	border-color: rgb(192,192,192);
	display: inline-block;
}


#hour23 {
	border-bottom: 1px solid;
	border-color: rgb(192,192,192);
}


#test_element {
	background-color: blue;
}


#calendar_wrapper {
	display: inline;
}


#hour_label_wrapper {
	float: left;
	display: block;
	height: 100%;
	width: 10%;
	padding-right: 5px;
	padding-top: 20px;
}


.hour_label {
	margin-left: 10px;
	margin-bottom: 55px;
	text-align: right;
}


#overlay {
	position: absolute;
   	left: 0;
	width: 100%;
	height: 120%;
	z-index: 10;
}



.overlay_neg {
	background: -webkit-linear-gradient(left,rgba(184,0,0,0),rgba(184,0,0,1));
}



.overlay_pos {
	background: -webkit-linear-gradient(right,rgba(0,184,0,0),rgba(0,184,0,1));
}



.profile_circle {
	width: 50px;
	height: 50px;
	border-radius: 25px;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
}


.owner_profile_circle {
	width: 50px;
	height: 50px;
	border-radius: 25px;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	float: right;
	margin-right: 3px;
}


.profile_circle_label {
	font-size: 10px;
	margin: 0px;
}


#host_label {
	display: inline;
	float: right;
}


.body_header {
	width: 100%;
	display: inline-block;
}


.event_detail_body {
	padding: 5px 10px;
}


.well.featured_person_wrapper {
	float: right;
}


.event_description_text {
	padding-right: 5px;
}


#detail_btn_group {
	margin-bottom: 10px;
}