// Place all the styles related to the calendar controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#drag_container {
	float: right;
	width: 90%;
	padding-top: 10px;
}


.event_item {
	position: absolute;
	height: 70px;
	max-width: 82%;
}


.panel-heading.event_header {
	padding: 5px 10px;
	overflow: hidden;
	max-width: 100%;
	white-space: nowrap;
}


.panel-body.event_body {
	padding: 7px 10px;
	overflow: hidden;
	max-width: 100%;
	white-space: nowrap;
}



.hour_row {
	width: 100%;
	height: 70px;
	border-top: 1px solid;
	border-color: rgb(192,192,192);
	display: inline-block;
}


#hour23 {
	border-bottom: 1px solid;
	border-color: rgb(192,192,192);
}


#test_element {
	background-color: blue;
}


#calendar_wrapper {
	display: inline;
}


#hour_label_wrapper {
	float: left;
	display: block;
	height: 100%;
	width: 10%;
	padding-right: 5px;
}


.hour_label {
	margin-left: 10px;
	margin-bottom: 54.5px;
	text-align: right;
}