// Place all the styles related to the invitationscontroller controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.btn.invite_reply {
	float: right;
	display: inline;
}


.invite_reply {
	display: inline;
}


.list-group-item-warning.accept_btn {
	display: inline-table;
	width: 100%;
}