<%# navigation styled for Bootstrap 3.0 %>
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" id="main_button" class="navbar-toggle" onclick="newEvent()">
      	<span class="glyphicon glyphicon-plus"></span>
      </button>
      <%= link_to 'Home', root_path, class: 'navbar-brand' %>
      <div class="navbar-brand">
        KarmaFriend
      </div>
    </div>
  </div>
</nav>
