<div class='jumbotron'>
	<h1>Tired of flakes?</h1>
	<p>Know who's actually showing up to your events ahead of time...</p>
	<p><%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook), class:'btn btn-primary btn-lg' %></a></p>
</div>
