<h3> <%= @event.name %> </h3>
<div class='list-group'>
	<% if @invitation.accepted %>
		<span class="list-group-item list-group-item-success" > <span class="badge">Accepted</span>

	<% elsif @invitation.seen and !@invitation.accepted%>
		<span class="list-group-item list-group-item-warning ">
		<%= link_to "Accept Invitation", :controller => "invitations", :action => "accept", :html => { :class => "btn btn-default invite_reply" } %>
	<% else %>
		<span class="list-group-item list-group-item-info">
		<%= link_to "Accept Invitation", :controller => "invitations", :action => "accept", :html => { :class => "btn btn-default invite_reply" } %>
	<% end %>
	<%= @invitation.user.name %> </span>
</div>