<div id="calendar_wrapper">
	<div id="hour_label_wrapper">
		<p class="hour_label">12</p>
		<% x = 1 %>
		<% while x < 13 %>
			<p class="hour_label"><%= x %></p>
			<% x += 1 %>
		<% end %>
		<% x = 1 %>
		<% while x < 13 %>
			<p class="hour_label"><%= x %></p>
			<% x += 1 %>
		<% end %>
	</div>

	<div id="drag_container">
		<% am = 0 %>
		<% while am < 12 %>
			<div class="hour_row" id="hour<%= am %>a">
		
			</div>
			<% am += 1 %>
		<% end %>
		<% pm = 0 %>
		<% while pm < 12 %>
			<div class="hour_row" id="hour<%= pm %>p">
		
			</div>
			<% pm += 1 %>
		<% end %>

	</div>
</div>

<script type="text/javascript">

var dragContainer = document.getElementById('drag_container');
var eventActive = null;
var touchOffsetX = 0;
var touchOffsetY = 0;


function createEventElement() {

	event = document.createElement("DIV");
	ul = document.createElement("UL");
	event.className = "event_item";
	liOne = document.createElement("LI");
	liTwo = document.createElement("LI");
	liOne.innerHTML = "hey";
	liTwo.innerHTML = "bleh";
	ul.appendChild(liOne);
	ul.appendChild(liTwo);
	event.appendChild(ul);
	
	//eventRecord = {eventElement: event, top: 0, left: 0};
	return event;

}


function addEventElements() {

	console.log("add events");
	
	eventOne = createEventElement();
	eventTwo = createEventElement();
	eventTwo.setAttribute("style", "top: 50px; left: 50px;");
	dragContainer.appendChild(eventOne);
	dragContainer.appendChild(eventTwo);	
	addListeners(eventOne);
	addListeners(eventTwo);
	
}



function addListeners(item) {
	console.log("add listeners");
		
	item.addEventListener("touchstart", function(e) {
		if (eventActive != null) {
			return;
		}
		e.preventDefault();
		var x = e.changedTouches[0].pageX;
		var y = e.changedTouches[0].pageY;
		eventActive = item;
		
		//Finger offsets from top left corner of element
		touchOffsetX = x - item.getBoundingClientRect().left;
		touchOffsetY = y - item.getBoundingClientRect().top;
		

		//document.getElementById('test_element').style.top = y + "px";
		//document.getElementById('test_element').style.left = x + "px";
		//$("#drag_container").css({top: y, left: x});
	});
	
	item.addEventListener("touchmove", function(e) {
		if (eventActive == null || eventActive != item) {
			return;
		}
		//e.preventDefault();
		var x = e.changedTouches[0].pageX;
		var y = e.changedTouches[0].pageY;
		adjustedX = x - touchOffsetX;
		adjustedY = y - touchOffsetY + window.pageYOffset; //Add vertical scroll offset
		
		//document.getElementById('test_element').style.top = y + "px";
		//document.getElementById('test_element').style.left = x + "px";
		item.setAttribute("style", "top: " + adjustedY + "px; left: " + adjustedX + "px;");
	});
	
	
	item.addEventListener("touchend", function(e) {
		//document.getElementById('output').innerHTML = "";
		eventActive = null;
		//e.preventDefault();
		var orig = e.originalEvent;
		var x = orig.changedTouches[0].pageX;
		var y = orig.changedTouches[0].pageY;

		//$("#test_element").css({top: y, left: x});
	});
	
	
	item.addEventListener("touchcancel", function(e) {
		//document.getElementById('output').innerHTML = "cancel";
		eventActive = null;

		//e.preventDefault();
		var orig = e.originalEvent;
		var x = orig.changedTouches[0].pageX;
		var y = orig.changedTouches[0].pageY;

		//$("#test_element").css({top: y, left: x});
	});
	
	
	
}



window.onload = addEventElements;
</script>